.users__table-container {
  width: 100%;
  padding: 0 1rem 1rem 1rem;

  border-radius: 6px;
  background-color: white;
  box-shadow: 0 27px 42px -42px rgba(0,0,0,0.8);
}

.users__table {
  width: 100%;
  margin: 1.3rem auto 0.5rem;

  border-collapse: collapse;

  text-align: left;
}

.users__table thead tr th {
  color: rgb(130, 130, 130);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.users__table tr {
  height: 4rem;

  border-bottom: 2px solid rgba(130, 130, 130, 0.2);
}

.users__table tbody tr:last-child {
  border-bottom: none;
}

.users__table-pagenav {
  display: flex;
  justify-content: space-between;

  width: 95%;
  margin: 0 auto;
}

.users__table-btn__pagenav {
  padding: 0.5rem;

  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  border-color: rgb(130, 130, 130, 0.2);
  outline: none;
  cursor: pointer;
}
