.users__sort {
  display: flex;
  margin-top: 6rem;

  color: rgb(130, 130, 130);
}

.users__sort-item {
  margin-left: 0.7rem;

  border-bottom: 1px dashed;

  font-size: 0.9rem;
}

.users__sort-item--active {
  color: black;
}
